@media (max-width: 767px) {
	.description {
		color:  red;
	}
}
body{
	border: 1px solid #D8D8D8;
}
.h5{
	border: 1px solid #D8D8D8;
	padding: 10px 30px;
}
#form{
	margin: 10px 30px;

}
#result{
	margin: 10px 30px;
}
